name: compose
services:
  bitwarden:
    container_name: bitwarden
    environment:
      ADMIN_TOKEN: ""
      DATABASE_URL: data/db.sqlite3
      DISABLE_ADMIN_TOKEN: "false"
      DOMAIN: ""
      ENABLE_DB_WAL: "true"
      INVITATIONS_ALLOWED: "false"
      SHOW_PASSWORD_HINT: "false"
      SIGNUPS_ALLOWED: "false"
      SIGNUPS_VERIFY: "false"
      TZ: America/Chicago
      WEBSOCKET_ENABLED: "true"
    hostname: DockSTARTer
    image: vaultwarden/server
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 80
      published: "8013"
      protocol: tcp
    - mode: ingress
      target: 3012
      published: "3012"
      protocol: tcp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/bitwarden
      target: /data
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
  deluge:
    container_name: deluge
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/Chicago
    hostname: DockSTARTer
    image: lscr.io/linuxserver/deluge
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 6881
      published: "6881"
      protocol: tcp
    - mode: ingress
      target: 6881
      published: "6881"
      protocol: udp
    - mode: ingress
      target: 8112
      published: "8112"
      protocol: tcp
    - mode: ingress
      target: 51413
      published: "51413"
      protocol: tcp
    - mode: ingress
      target: 51413
      published: "51413"
      protocol: udp
    - mode: ingress
      target: 58846
      published: "58846"
      protocol: tcp
    - mode: ingress
      target: 58946
      published: "58946"
      protocol: tcp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/deluge
      target: /config
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
  fail2ban:
    cap_add:
    - NET_ADMIN
    - NET_RAW
    container_name: fail2ban
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/Chicago
    image: lscr.io/linuxserver/fail2ban
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    network_mode: host
    restart: unless-stopped
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /var/log
      target: /var/log
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/fail2ban
      target: /config
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
  gitea:
    container_name: gitea
    environment:
      TZ: America/Chicago
      USER_GID: "1000"
      USER_UID: "1000"
    hostname: DockSTARTer
    image: gitea/gitea
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 3000
      published: "3000"
      protocol: tcp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /etc/timezone
      target: /etc/timezone
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/gitea
      target: /data
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
  heimdall:
    container_name: heimdall
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/Chicago
    hostname: DockSTARTer
    image: lscr.io/linuxserver/heimdall
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 80
      published: "8002"
      protocol: tcp
    - mode: ingress
      target: 443
      published: "447"
      protocol: tcp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/heimdall
      target: /config
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
  jellyfin:
    container_name: jellyfin
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/Chicago
    hostname: DockSTARTer
    image: lscr.io/linuxserver/jellyfin
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 8096
      published: "8096"
      protocol: tcp
    - mode: ingress
      target: 8920
      published: "8920"
      protocol: tcp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/jellyfin
      target: /config
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
    - type: bind
      source: /tmp
      target: /transcode
      bind:
        create_host_path: true
  nextcloud:
    container_name: nextcloud
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/Chicago
    hostname: DockSTARTer
    image: lscr.io/linuxserver/nextcloud
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 443
      published: "444"
      protocol: tcp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/nextcloud
      target: /config
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
    - type: bind
      source: /mnt/nextcloud
      target: /data
      bind:
        create_host_path: true
  nzbgetvpn:
    cap_add:
    - NET_ADMIN
    - SYS_MODULE
    container_name: nzbgetvpn
    environment:
      ENABLE_PRIVOXY: "no"
      LAN_NETWORK: 192.168.101.0/24
      NAME_SERVERS: 1.1.1.1,8.8.8.8
      PGID: "1000"
      PUID: "1000"
      TZ: America/Chicago
      VPN_CLIENT: openvpn
      VPN_ENABLED: "yes"
      VPN_OPTIONS: ""
      VPN_PASS: "{{ vpn_pass }}"
      VPN_PROV: custom
      VPN_USER: "{{ vpn_user }}"
    hostname: DockSTARTer
    image: jshridha/docker-nzbgetvpn
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 6789
      published: "6789"
      protocol: tcp
    - mode: ingress
      target: 8118
      published: "8118"
      protocol: tcp
    privileged: true
    restart: unless-stopped
    sysctls:
      net.ipv4.conf.all.src_valid_mark: "1"
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/nzbgetvpn
      target: /config
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/.openvpn
      target: /config/openvpn
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/.wireguard
      target: /config/wireguard
      bind:
        create_host_path: true
  swag:
    cap_add:
    - NET_ADMIN
    container_name: swag
    environment:
      DNSPLUGIN: ""
      DUCKDNSTOKEN: "{{ ddns_token }}"
      EMAIL: "{{ email }}"
      EXTRA_DOMAINS: ""
      MAXMINDDB_LICENSE_KEY: ""
      ONLY_SUBDOMAINS: "false"
      PGID: "1000"
      PUID: "1000"
      SUBDOMAINS: www
      TZ: America/Chicago
      URL: ""
      VALIDATION: http
    hostname: DockSTARTer
    image: lscr.io/linuxserver/swag
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 80
      published: "80"
      protocol: tcp
    - mode: ingress
      target: 443
      published: "443"
      protocol: tcp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/swag
      target: /config
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
  syncthing:
    container_name: syncthing
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/Chicago
    hostname: DockSTARTer
    image: lscr.io/linuxserver/syncthing
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 8384
      published: "8384"
      protocol: tcp
    - mode: ingress
      target: 21027
      published: "21027"
      protocol: udp
    - mode: ingress
      target: 22000
      published: "22000"
      protocol: tcp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/syncthing
      target: /config
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
    - type: bind
      source: /mnt/syncthing
      target: /source
      bind:
        create_host_path: true
  traefik:
    container_name: traefik
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/Chicago
    hostname: DockSTARTer
    image: traefik
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 80
      published: "80"
      protocol: tcp
    - mode: ingress
      target: 443
      published: "443"
      protocol: tcp
    - mode: ingress
      target: 8080
      published: "8080"
      protocol: tcp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /home/matus/.config/appdata/traefik
      target: /etc/traefik
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /var/run/docker.sock
      target: /var/run/docker.sock
      read_only: true
      bind:
        create_host_path: true
  unificontroller:
    container_name: unificontroller
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/Chicago
    hostname: DockSTARTer
    image: lscr.io/linuxserver/unifi-controller
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 3478
      published: "3478"
      protocol: udp
    - mode: ingress
      target: 6789
      published: "6789"
      protocol: tcp
    - mode: ingress
      target: 8080
      published: "8080"
      protocol: tcp
    - mode: ingress
      target: 8081
      published: "8081"
      protocol: tcp
    - mode: ingress
      target: 8443
      published: "8443"
      protocol: tcp
    - mode: ingress
      target: 8843
      published: "8843"
      protocol: tcp
    - mode: ingress
      target: 8880
      published: "8880"
      protocol: tcp
    - mode: ingress
      target: 10001
      published: "10001"
      protocol: udp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/unificontroller
      target: /config
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
  uptimekuma:
    container_name: uptimekuma
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: America/Chicago
    hostname: DockSTARTer
    image: louislam/uptime-kuma
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 3001
      published: "3001"
      protocol: tcp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /home/matus/.config/appdata/uptimekuma
      target: /app/data
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
  yacht:
    container_name: yacht
    environment:
      ADMIN_EMAIL: admin@yacht.local
      DISABLE_AUTH: "false"
      PGID: "1000"
      PUID: "1000"
      SECRET_KEY: yacht
      TZ: America/Chicago
    hostname: DockSTARTer
    image: selfhostedpro/yacht
    logging:
      driver: json-file
      options:
        max-file: "10"
        max-size: 200k
    networks:
      default: null
    ports:
    - mode: ingress
      target: 8000
      published: "8000"
      protocol: tcp
    restart: unless-stopped
    volumes:
    - type: bind
      source: /etc/localtime
      target: /etc/localtime
      read_only: true
      bind:
        create_host_path: true
    - type: bind
      source: /var/run/docker.sock
      target: /var/run/docker.sock
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/.config/appdata/yacht
      target: /config
      bind:
        create_host_path: true
    - type: bind
      source: /home/matus/storage
      target: /storage
      bind:
        create_host_path: true
networks:
  default:
    name: compose_default
